body {
    /* body elementet styler hele siden. Allt inni body taggen (allt synlig på siden) påvirkes av disse reglene. */
    font-family: sans-serif;
    margin: 20px;
}

header h1 {
    letter-spacing: 14px;
    text-transform: uppercase;
    font-family: Times; /* Denne regelen er med spesifik enn body-reglene og overskrider skrift-valget
  som undervist i "Kaskade og Spesifisitet" på https://jobloop.instructure.com/courses/534/pages/html-and-css-1-3-margin-padding-border-classes-and-ids-2 */
}

header img {
    width: 300px;
    border-radius: 20px;
}

header,
footer {
    text-align: center;
    border-radius: 20px;
}

h2 {
    font-weight: normal; /* Skrur av fet tekst på overskrifter */
}
header,
#hoveddel,
footer {
    padding: 20px;
    padding-top: 10px;
    /* Mindre padding øverst kompenserer for at h1 og h2 elementer har innebygget margin som legges til padding. */
    /* margin-top er dokumentert på https://www.w3schools.com/cssref/pr_margin-top.php */
}

#hoveddel {
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    background: rgb(96, 96, 96);
}
header,
footer {
    background: rgb(200, 194, 220);
}
#hoveddel {
    background: rgb(149, 155, 159);
}

mark {
    padding: 4px;
}

header {
    padding: 20px;
}

#hoveddel {
    /* Midtstill element.
     Forklart med eksempel på W3School: https://www.w3schools.com/css/tryit.asp?filename=trycss_margin_auto */
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.paragraf {
    font-family: Arial;
}
